# Byte-code files
*.pyc
*.pyo
__pycache__/

# Environments
.env
venv/
env/
*venv*/
.python-version # Example for pyenv

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project-specific caches and build artifacts
*.egg-info/
dist/
build/
*.log
*.tmp
htmlcov/
.tox/
.coverage
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# Poetry
poetry.lock
poetry.toml

# db files
*.sqlite3
*.db